<p id="notice"><%= notice %></p>

<h1>Reviews</h1>
<br>

<% @reviews.each do |review| %>
<div class="col-md-4 galleryCard">
<a href="/reviews/<%=review.id%>">
<h3><%= review.title %></h3>
<h6>Posted by: <%= review.author %> </h6>
<h6>Date posted: <%= review.date %></h6>
<h6>Exhibition: <%= review.exhibition.name %></h6>
<h6>Rating: <%= review.rating %>/5</h6>

</a>
</div>
<% end %>

<br>
<button class="big">
<% if logged_in? %>
<%= link_to 'Click here to add a new review', new_review_path %>
<% end %>
</button>
