<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Posted By:</strong>
  <%= @review.author %>
</p>

<p>
  <strong>Date Posted:</strong>
  <%= @review.date %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>/5
</p>

<p>
  <strong>See This Exhibition:</strong>
  <a href="/exhibitions/<%=@review.exhibition.id%>"><%= @review.exhibition.name %></a>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Delete', @review, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'All recent reviews', reviews_path %> |
<%= link_to 'Back', exhibition_path(@review.exhibition.id) %>
