<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @review.date %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Exhibition:</strong>
  <a href="/exhibitions/<%=@review.exhibition.id%>"><%= @review.exhibition.name %></a>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'All recent reviews', reviews_path %>
