<h1>TINDERSAURUS PROFILES</h1>




<% profiles.forEach((profile) => { %>
  <a href="/tinder/<%= profile.id %>">
  <div class="profile-div">
  <h2><%= profile.name %></h2>
  <h3><%= profile.age %></h3>
  <img src="<%= profile.image %>"/>
  <h6><%= profile.gender %></h6>
  <h6><%= profile.species %></h6>
  <h6><%= profile.hasChildren %></h6>
  <h6><%= profile.bodyShape %></h6></a>
  </div>
<% }) %>
