<h1>VIEW PROFILE</h1>

<div id="viewProfile" class="clearfix">
<h1><%= profile.name %></h1>
<h2>Age:   <%= profile.age %></h2>
<img src="<%= profile.image %>"/>
<h2>Gender:   <%= profile.gender %></h2>
<h2>Species:   <%= profile.species %></h2>
<h2>Children:   <%= profile.hasChildren %></h2>
<h2>Body Shape:   <%= profile.bodyShape %></h2>

<button><a href="/tinder/index/<%= profile.id %>/edit">Edit</a></button>
<form action="/tinder/<%= profile.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>

</div>
