<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gallery.address %>
</p>

<p>
  <strong>Current Exhibtions:</strong>
  <ul>
    <% @gallery.exhibitions.each do |exhibition| %>
    <a href="/exhibitions/<%=exhibition.id%>"><li><%=exhibition.name%></li></a>
    <% end %>
  </ul>
</p>

<p>
  <strong>Nearest tube:</strong>
  <%= @gallery.nearest_tube %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @gallery.image, width: 400 %>
</p>

<p>
  <strong>Info:</strong>
  <%= @gallery.body %>
</p>

<% if logged_in? %>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<% end %>
<%= link_to 'Back', galleries_path %>
