<p id="notice"><%= notice %></p>

<h1>Exhibitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Opening date</th>
      <th>Closing date</th>
      <th>Image</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exhibitions.each do |exhibition| %>
      <tr>
        <td><%= exhibition.name %></td>
        <td><%= exhibition.artist %></td>
        <td><%= exhibition.opening_date %></td>
        <td><%= exhibition.closing_date %></td>
        <td><%= exhibition.image %></td>
        <td><%= exhibition.body %></td>
        <td><%= link_to 'Show', exhibition %></td>
        <td><%= link_to 'Edit', edit_exhibition_path(exhibition) %></td>
        <td><%= link_to 'Destroy', exhibition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add A New Exhibition', new_exhibition_path %>
