<p id="notice"><%= notice %></p>

<h1>Exhibitions</h1>
<br>


<% @exhibitions.each do |exhibition| %>
<div class="col-md-4 galleryCard">
<a href="/exhibitions/<%=exhibition.id%>">
  <h3><%= exhibition.name %></h3>
  <h5><%= exhibition.artist %></h5>
  <%= image_tag exhibition.image, width: 350 %>
  <h6>On until: <%= exhibition.closing_date %></h6>
  <h6>At the <%=exhibition.gallery.name%></h6>
</a>
</div>
<% end %>

<br>
<button class="big">
<% if logged_in? %>
<%= link_to 'Click here to add a new exhibition', new_exhibition_path %>
<% end %>
</button>
