<p id="notice"><%= notice %></p>

<h1>
  <%= @exhibition.name %>
</h1>

<h3>
  <strong><%= @exhibition.artist %></strong>

</h3>

<p>
  <strong>Gallery:</strong>
<a href="/galleries/<%=@exhibition.gallery.id%>">  <%= @exhibition.gallery.name %></a>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @exhibition.opening_date %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @exhibition.closing_date %>
</p>

<p>
  <!-- <strong>Image:</strong> -->
  <%= image_tag @exhibition.image, width: 550 %>
</p>

<p>
  <strong>About:</strong>
  <%= @exhibition.body %>
</p>


<p>
  <strong>ArtHub User Reviews:</strong>
  <ul>
    <% @exhibition.reviews.each do |review| %>
      <li>
        <a href="/reviews/<%=review.id%>"><strong><%= review.title %></strong>
          <br>
        - <%= review.author %>
        - <%= review.date%>
        <br>
        <strong><%= review.rating %>/5</strong>
        </a>
      </li>
    <% end %>
  </ul>
</p>


<% if logged_in? %>
<p>
  <strong>Review this exhibition:</strong>
</p>
<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <% @review.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
  <% end %>

  <%= f.hidden_field :exhibition_id, value: @exhibition.id %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_select :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Rating: (0-5)"  %>
    <%= f.number_field :rating, class: 'form-control', step: '1', max: 5, min: 0 %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>


<%= link_to 'Edit Exhibition', edit_exhibition_path(@exhibition) %> |
<%= link_to 'Delete Exhibition', @exhibition, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', exhibitions_path %>
