<p id="notice"><%= notice %></p>

<div class="tablediv">
<h1>
  <!-- <strong>Name:</strong> -->
  <%= @continent.name %>
</h1>

<p>
  <strong>Countries:</strong>
  <ul>
    <% @continent.countries.each do |country| %>
    <a href="/countries/<%=country.id%>"><li><%=country.name%></li></a>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_continent_path(@continent) %> |
<%= link_to 'Back', continents_path %>
</div>
