<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comic.author %>
</p>

<p>
  <strong>Image:</strong>
  <%= @comic.image %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @comic.issue %>
</p>
<% if logged_in? %>
<%= link_to 'Edit', edit_comic_path(@comic) %> |
<% end %>
<%= link_to 'Back', comics_path %>
